/ipch
Debug
Release
Certificate.bat
*.docstates
*.exe
*.opensdf
*.sdf
*.suo
*.user
/RTextNppPlugin/obj
*.coverage
packages/
TestResult.xml
coverage.xml
TestResults/
TestFiles/.mcache/model_linebreak.atm.rdump
