<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConsoleWindowActive" value="True" />
        <add key="AutoLoadWorkspace" value="True" />
        <add key="AutoSaveFiles" value="True" />
        <add key="AutoChangeWorkspace" value="True" />
        <add key="ExcludeExtensions" value="meta;" />
        <add key="EnableErrorAnnotations" value="True" />
        <add key="EnableErrorMarkers" value="True" />
        <add key="EnableErrorSquiggleLines" value="True" />
        <add key="ZoomSliderPosition" value="100"/>
    </appSettings>
</configuration>