<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoadWorkspace" value="True" />
        <add key="ConsoleWindowActive" value="True" />
        <add key="AutoSaveFiles" value="True" />
        <add key="AutoChangeWorkspace" value="True" />
    </appSettings>
</configuration>